---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Saku">
  <main class="grid place-items-center h-screen content-center">
    <div class="flex flex-col items-center">
      <img
        src="/logo.png"
        height="auto"
        width="128px"
        alt=""
        aria-hidden="true"
      />
      <span lang="ja" class="text-6xl uppercase tracking-widest font-brand"
        ><span class="text-7xl">S</span>aku</span
      >
      <span class="text-xs">Management Systems</span>
    </div>
  </main>
</Layout>
