---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Saku">
  <main
    class="grid place-items-center h-screen content-center bg-violet-950 text-pink-200"
  >
    <h1 class="text-5xl uppercase">Saku</h1>
  </main>
</Layout>
